@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/open-sans-v40-latin-300.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('fonts/open-sans-v40-latin-300italic.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/open-sans-v40-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/open-sans-v40-latin-italic.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/open-sans-v40-latin-500.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    src: url('fonts/open-sans-v40-latin-500italic.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/open-sans-v40-latin-600.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('fonts/open-sans-v40-latin-600italic.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/open-sans-v40-latin-700.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('fonts/open-sans-v40-latin-700italic.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/open-sans-v40-latin-800.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url('fonts/open-sans-v40-latin-800italic.woff2') format('woff2');
}

/* JetBrains Mono Font Faces */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

.markdown-body {
    --fontStack-monospace: 'JetBrains Mono', ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0d1117;
        --text-color-1: #fff;
        --text-color-2: #eee;
        --index-article: #8080FF;
        --index-article-hover: #B2B2FF;
        --index-article-link: #80CCFF;
        --header-bottom: #333;
        --paragraph-text: #aaa;
        --heading-color: #fff;
        --ancor-color: #404040;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fdfdfd;
        --text-color-1: #000;
        --text-color-2: #333;
        --index-article: #0000EE;
        --index-article-hover: #5151f7;
        --index-article-link: #2196f3;
        --header-bottom: #eee;
        --paragraph-text: #888;
        --heading-color: #24292e;
        --ancor-color: lightgray;
    }
}

body {
    background-color: var(--background-color);
    font-family: "Open Sans", sans-serif;
}

header, .indexarticle {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 990px;
    margin: 3vh auto 3vh auto;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: var(--text-color-1);
    word-wrap: break-word;
    padding: 0 5px;
}

.indexarticle {
    padding: 0 30px;
}

.indexsubtitle {
    font-weight: normal;
    margin-left: 20px;
    font-size: 26px;
    color: var(--text-color-2);
}

.indexsubtitle .small {
    margin-left: 20px;
    font-size: 16px;
    color: var(--text-color-2);
}

.indexsubtitle .small a {
    color: var(--index-article-link);
}

.query {
    margin-top: 25px;
    font-size: 20px;
}

.query form {
    display: inline;
    margin-right: 40px;
}

.query form input[type=search] {
    width: 270px;
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    padding: 8px 12px;
    border: 2px solid var(--header-bottom);
    border-radius: 6px;
    background-color: var(--background-color);
    color: var(--text-color-1);
    -webkit-appearance: none; /* Fix for iOS Safari */
    margin-right: 8px;
    transition: border-color 0.2s ease;
}

.query form input[type=search]:focus {
    outline: none;
    border-color: var(--index-article-link);
}

.query form input[type=submit] {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    padding: 8px 16px;
    border: 2px solid var(--index-article-link);
    border-radius: 6px;
    background-color: var(--index-article-link);
    color: white;
    cursor: pointer;
    -webkit-appearance: none; /* Fix for iOS Safari */
    transition: background-color 0.2s ease;
}

.query form input[type=submit]:hover {
    background-color: var(--index-article-hover);
    border-color: var(--index-article-hover);
}

.query a {
    color: var(--index-article-link);
}

.query strong {
    color: var(--index-article);
}

article.indexarticle h3 {
    font-size: 28px;
    margin: 0;
}

article.indexarticle h3 a {
    color: var(--index-article);
}

article.indexarticle h3 a:hover {
    color: var(--index-article-hover);
}

article.indexarticle p {
    font-size: 16px;
    margin: 0;
    color: var(--paragraph-text);
}

article.indexarticle p.summary {
    font-size: 18px;
}

article.indexarticle p a {
    color: var(--index-article-link);
    text-decoration: none;
}

header h1 {
    font-size: 42px;
    font-weight: 600;
    color: var(--text-color-2);
    margin: 0;
    border-bottom: 0.1em solid var(--header-bottom);
}

header p {
    font-size: 16px;
    margin: 2px 0 0 0;
    color: var(--paragraph-text);
}

header p a {
    color: var(--index-article-link);
    text-decoration: none;
}

header p a:hover {
    color: var(--index-article-hover);
    text-decoration: none;
}

footer a, header a {
    color: var(--index-article-link);
}

footer a, header a:hover {
    color: var(--index-article-hover);
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 990px;
    margin: 0 auto;
    padding: 0 10px;
}

footer {
    font-size: 16px;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 990px;
    padding: 0 10px;
    margin: 30px auto 50px auto;
    color: var(--paragraph-text);
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

form div {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 990px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

form input, form textarea {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

textarea {
    width: 100%;
    height: 200px;
}

input.textfield {
    width: 100%;
}

label {
    display: block;
    margin: 20px 0 5px 0;
}

.back {
    display: block;
    margin: 40px 0 0 0;
}

p > small.gh {
    font-family: var(--fontStack-monospace), monospace;
    font-size: 14px;
    display: block;
    margin-top: -18px;
    margin-bottom: 12px;
}

.markdown-body, .markdown-body .x-form-display-field {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
}

.markdown-body h1 > a, .markdown-body h2 > a, .markdown-body h3 > a, .markdown-body h4 > a, .markdown-body h5 > a, .markdown-body h6 > a {
    text-decoration: none !important;
    color: var(--heading-color) !important;
}

.markdown-body h2 {
    margin-top: 60px;
}

header > h1 {
    margin-top: 20px;
}

.markdown-body .anchor {
    font-size: 0.9em;
    color: var(--ancor-color) !important;
    padding-top: 2px;
    opacity: 0;
    transition: opacity 0.1s ease;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
    opacity: 1;
}

.language-css,
.token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
    background-color: transparent !important;
}

:focus:not(:focus-visible) {
    outline: none
}

.feedback {
    color: var(--text-color-1);
}

pre.shiki > code {
    font-family: var(--fontStack-monospace), monospace;
    font-feature-settings: "liga" 0, "calt" 0;
}

@media (prefers-color-scheme: dark) {
    .shiki,
    .shiki span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
    }
}
