<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .SiteTitle }}: Feedback</title>
<link rel="stylesheet" href="/assets/blog-9.css">
<style>
    .specialfield {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        z-index: -1;
    }
</style>
</head>
<body>

  <header>
    <h1>{{ .SiteTitle }}</h1>
    <p class="indexsubtitle">Send some feedback</p>
  </header>

  <form class="feedback" action="/submitFeedback" method="post">
     <div>
	  	 <h3>Re: {{ .PostURL }}</h3>
	  	 <input type="hidden" name="url" value="{{ .PostURL }}">
	  	 <input type="hidden" name="token" value="{{ .Token }}">

		 <label for="feedback">Feedback</label>
		 <textarea id="feedback" name="feedback" required maxlength="20000"></textarea>
		 <label for="email">Email (optional, provide one when you expect a response)</label>
		 <input class="textfield" type="email" id="email" name="email" maxlength="320"><br>
  		 <input class="specialfield" autocomplete="off" type="text" id="name" name="name">
	  	 <br>
	  	 <input type="submit" value="Submit Feedback">
  	 </div>
  </form>

</body>
</html>
